:root {
     
    --cor-primaria: #161a24f1;
    --cor-secundaria: #0b0515;
    --cor-texto: #e2e7eef8;
    --cor-fundo: #120a11;
    --cor-hover: #171214;    
}


/*Fundo*/
body{
    background: var(--cor-hover);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


header{
    text-align: center;
    padding: 90px;
    background: linear-gradient(to center, var(--cor-texto), var
    (--cor-secundaria));
    color: white;
} 


/*Container*/
.container{
    display: flex;
    justify-content: center;
    background: linear-gradient(to center, var(--cor-hover), var(--cor-secundaria));
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 20px 40px #fc0909ac;
    text-align: center;
    width: 100px;
    color: var(--cor-hover);
}

/*Login*/
.login-box h2{
    font-size: 2rem;
    margin-bottom: 40px;
}
.login-box p{
    font-size: 20rem;
    margin-bottom: 40px;
    opacity: 0.8;
}





/*Botão*/
button{
    width: 111%;
    padding: 7px;
    border:0cm;
    background: var(--cor-hover);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 2px;
    cursor: pointer;
    transition:0.5s;
} 

button:hover{
    background: var(--cor-texto)
}

