*{
    margin: 0;
    padding:0; testing
}

 .container{
    display: grid;
    grid-template-areas: 
    'header header'
    'aside article'
    'section section'
    'footer footer';
    gap: 30px;
    grid-auto-rows: 200px;    
}

header{
    grid-area: header;
    background-color:blueviolet; 
}

aside{
    grid-area: aside;
    background-color: crimson;
}
article{
    grid-area: article;
    background-color:darkslategray;
}
section{
    grid-area: section;
    background-color: darkorange;
}
footer{
    grid-area: footer;
    background-color: yellow;
}


.item{
    height: 200px;
}