/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do body */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
}

/* Estilo do header */
header {
    background-color: #007bff;
    color: white;
}

/* Barra superior */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #0056b3;
}

.mensagem {
    margin-left: 30px;
}
.top-bar img {
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
}

.top-bar p {
    cursor: pointer;
    margin: 0;
}

/* Estilo do nav */
.nav {
    background-color: #004085;
    padding: 10px 0;
}

.nav nav {
    display: flex;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.nav a:hover {
    transition: 0.5s;
    background-color: #003366;
    border-radius: 5px;
}

/* Estilo do link de Área do Aluno */
.sing-up {
    margin-left: auto;
}

.up {
    background-color: #3f4c99;
    color: white;
    padding: 12.5px 20px;
    border-radius: 16px;
    text-decoration: none;
}

.up:hover {
    transition: 0.7s;
    background-color: #ffc107;
}

/* Estilização responsiva */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        padding: 5px 0;
    }

    .nav a {
        padding: 8px 15px;
    }
}

    /* Estiliza a área de grade 3x3 */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
        gap: 15px; /* Espaço entre os blocos */
        max-width: 950px; /* Largura máxima da grade */
        margin: 0 auto; /* Centraliza a grade */
        padding: 20px;
      }   
      /* Estiliza cada bloco individualmente */
      .grid-item {
        font-size: 12px;
        background-color: #f0f0f0; /* Cor de fundo dos blocos */
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
      }
  
      .grid-item:hover {
        transform: scale(1.05); /* Animação ao passar o mouse */
      }
  
      /* Estiliza a imagem dentro do bloco */
      .grid-item img {
        width: 100%; /* Imagem ocupa a largura completa do bloco */
        height: auto;
      }
  
      /* Estiliza o botão */
      .grid-item button {
        width: 90%;
        padding: 10px;
        margin: 15px auto;
        background-color: #4CAF50; /* Cor do botão */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
      }
  
      .grid-item button:hover {
        background-color: #45a049;
      }